{% extends 'base.html' %}
{% block content %}
    <h2>Job status</h2>
   <table class="wikitable">
    <tbody>
        <tr>
            <th>Task name</th>
            <th>Language</th>
            <th>Title</th>
            <th>Username</th>
            <th>Status</th>
            <th>Log</th>
        </tr>
        {% for job in jobs %}
            <tr>
                <td>{{ job[1] }}</td>
                <td>{{ job[2] }}</td>
                <td><a href="https://{{ job[2] }}.wikisource.org/wiki/{{ job[3] }}">{{ job[3] }}</a></td>
                <td><a href="https://{{ job[2] }}.wikisource.org/wiki/User:{{ job[4] }}">{{ job[4] }}</a></td>
                <td>{{ job[6] }}</td>
                <td><a href="/logs?file={{ job[5] }}">Log</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}